body {
 background-color: #e8ebed;
 font-family: adobe-garamond-pro, serif;
 color: rgb(66, 66, 66);
 text-align: center;
 font-size: 18px;
 line-height: 30px;
 overflow-wrap: break-word;
 max-width: 800px;
 margin: auto;
 padding: 50px;
}

@media (max-width: 530px) {
 body {
  padding: 30px;
 }
 body h1 {
  font-size: 42px;
 }
 body h2 {
  padding-bottom: 40px;
 }
}

body a {
 color: rgb(18, 18, 18);
}

body a:hover {
 color: rgb(120, 120, 120)
}

h1 {
 color: rgb(18, 18, 18);
 font-weight: 400;
 font-size: 59px;
 line-height: normal;
 letter-spacing: 3px;
 text-transform: uppercase;
}

h1 a {
 text-decoration: none;
}

h2 {
 color: rgb(168, 168, 168);
 font-size: 13px;
 font-weight: 400;
 letter-spacing: 2px;
 line-height: 19.5px;
 padding-bottom: 70px;
}